/*tous les gros titres fond vert des pages*/
h1
{
    text-transform: uppercase;
}

/* accueil*/
.photo {
    float : left;
    padding-right: 10%;
}
li {
    list-style-type: none; /* enlève la numérotation des puces*/
}
.message
{
    padding-top: 2%;
    text-align : justify;
}
.portfolio
{
    padding-top: 0px;
}
.portfolio-image
{
    height:400px;

}
.portfolio-image-position
{
    position:absolute;
    z-index:1;
}

.portfolio-text-image
{
    text-align:center;
    position:absolute;
    top:100px;
    width:550px;
    height:400px;
    z-index:2;
    font-size:150%;
}
/*listPostView.php*/
.info {
    padding-left: 1%;
    color : #18bc9c;
}
.post {
    clear: both;
    padding-top: 3%;
}
.image {
    float : left;

}
.contain
{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
/*postView.php*/
.badge {
    padding: 1px 9px 2px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
}
#comment
{
    width : 100%;
}

/*mentions legales*/
.ml{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.bg-primary
{
    padding-top: 10%;
}



/*en responsive*/
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover, button#sendMessageButton:hover
{
    background-color: grey!important;
    border : grey;
}

/* bouton submit dans toutes les view*/
.btn-success
{
    background-color : #18bc9c;
    border-color : #18bc9c;
}

/*profilMembre*/
.bouton
{
    width:20%;
}
.confirmation
{
    color: black;
}
.confirmation:hover
{
    text-decoration: none !important;
}

/*charte*/
.btnacceptrefus
{
    width: 15%;
}

a:hover
{
    text-decoration: none;
    color : #18bc9c;
}
