<?php
namespace services;

/**
 * Class Config
 * @package services
 */

class Config
{
	/**
	 * Fonction qui permet de donner un nom à des chemins de dossiers ou serveur
	 */

	public static function start() //static car appelée qu'une seule fois
	{
		$root = $_SERVER['DOCUMENT_ROOT'];
		$host = $_SERVER['HTTP_HOST'];
		define ('HOST','http://'.$host. '/BlogForteroche/');
		define('ROOT',$root);
		define ('CONTROLLER', ROOT . '/controller/');
		define ('VIEWFRONT', ROOT. '/BlogForteroche/view/frontend/');
		define ('VIEWBACK', ROOT . '/BlogForteroche/view/backend/');
		define ('MODEL', ROOT . '/model/');
		define ('ENTITY', ROOT . '/entity/');
		define ('ROUTER', ROOT . '/router/');
		define ('SERVICES', ROOT . '/services/');
		define ('CSS', HOST .'assets/css/');
		define ('JS', HOST .'assets/js/');
		define ('TINYMCE', HOST .'assets/js/tinymce/');
		define ('MP', HOST .'assets/magnific-popup/');
		define ('IMAGES', HOST . 'public/images');
	}

	/**
	 * Fonction qui donne la configuration d'accès à la BDD : à modifier
	 * @return array
	 */

	public static function getConfigBDD()
	{
		return [
			'host' => '',
			'dbname' => '',
			'username' => '',
			'password' => '',
		];
	}

	/**
	 *
	 * @return array : avec le controller et l'action
	 */

	public static function getRoutes()
	{
		return [
			/*Backend*/
			'#^addbook$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'addBook',
			],
			'#^addchapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'addChapter',
			],
			'#^deletechapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'deleteChapter',
			],
			'#^modifchapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'modifChapter',
			],
			'#^listcomments$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'listComments',
			],
			'#^approved&id=([0-9]+)$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'approvedComment',
			],
			'#^refused&id=([0-9]+)$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'refusedComment',
			],
			'#^listmembres$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'listMembres',
			],
			'#^publier$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'publier',
			],
			'#^boutonaddbook$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'boutonaddbook',
			],
			'#^boutonmodifchapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'boutonmodifchapter',
			],
			'#^boutonaddchapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'boutonaddchapter',
			],
			'#^boutondeletechapter$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'boutondeletechapter',
			],
			'#^loginadmin$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'loginAdmin',
			],
			'#^profiladmin$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'profilAdmin',
			],
			'#^modifmessage$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'modifMessage',
			],
			'#^administration$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'administration',
			],
			'#^logoutadmin$#' => [
				'controller' => 'getControllerBackend',
				'action' => 'logoutAdmin',
			],
			/* Frontend*/
			'#^$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'accueil',
			],
			'#^index.php$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'accueil',
			],
			'#^listchapters$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'listChapters',
			],
			'#^lastchapter$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'lastChapter',
			],
			'#^chapter&id=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'chapter',
			],
			'#^addcomment&id=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'addComment',
			],
			'#^comment&numComm=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'comment',
			],
			'#^listcommentsmembre&idmembre=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'listCommentsMembre',
			],
			'#^modifcomment&numComm=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'modifComment',
			],
			'#^deletecomment&id=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'deleteComment',
			],
			'#^signaled&id=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'signaledComment',
			],
			'#^accueil$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'accueil',
			],
			'#^loginmembre$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'loginMembre',
			],
			'#^logoutmembre$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'logoutMembre',
			],
			'#^inscription$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'inscription',
			],
			'#^deleteaccount&id=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'deleteAccount',
			],
			'#^profilmembre$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'profilMembre',
			],
			'#^versinscription$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'versInscription',
			],
			'#^mentionslegales$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'mentionslegales',
			],
			'#^charte$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'charte',
			],
			'#^boutonmodifpseudomdp$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'boutonmodifpseudomdp',
			],
			'#^boutonmodifiermail$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'boutonmodifiermail',
			],
			'#^boutonafficherlescommentaires$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'boutonafficherlescommentaires',
			],
			'#^boutonsupprimerprofil$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'boutonsupprimerprofil',
			],
			'#^modifpseudomdp&idmembre=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'modifPseudoMdp',
			],
			'#^modifemail&idmembre=([0-9]+)$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'modifEmail',
			],
			'#^BlogForteroche$#' => [
				'controller' => 'getControllerFrontend',
				'action' => 'accueil',
			],
			'#^contact$#' => [
				'controller' => 'getControllerMail',
				'action' => 'contact',
			]
		];
	}
}